.deps
.libs
*.bak
*.o
*.orig
*.rej
*.tab.c
*~
.*.sw[nop]
.dirstamp
.gitignore
Makefile
Makefile.in
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/README
/TAGS
/aclocal.m4
/autom4te.cache
/autoscan.log
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/build/Makefile.in
/build/win32/Makefile.in
/build/win32/crypt/Makefile.in
/build/win32/vs10/Makefile.in
/build/win32/vs9/Makefile.in
/clutter/Makefile.in
/config.cache
/config.h
/config.h.in
/config.h.win32
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/demos/Makefile.in
/demos/gtk-demo/Makefile.in
/demos/pixbuf-demo/Makefile.in
/demos/widget-factory/Makefile.in
/docs/Makefile.in
/docs/reference/Makefile.in
/docs/reference/gdk/Makefile.in
/docs/reference/gtk/Makefile.in
/docs/reference/libgail-util/Makefile.in
/docs/tools/Makefile.in
/examples/Makefile.in
/examples/application1/Makefile.in
/examples/application2/Makefile.in
/examples/application3/Makefile.in
/examples/application4/Makefile.in
/examples/application5/Makefile.in
/examples/application6/Makefile.in
/examples/application7/Makefile.in
/examples/application8/Makefile.in
/examples/application9/Makefile.in
/gail-3.0.pc
/gdk-3.0.pc
/gdk-broadway-3.0.pc
/gdk-quartz-3.0.pc
/gdk-wayland-3.0.pc
/gdk-win32-3.0.pc
/gdk-x11-3.0.pc
/gdk/Makefile.in
/gdk/broadway/Makefile.in
/gdk/quartz/Makefile.in
/gdk/wayland/Makefile.in
/gdk/win32/Makefile.in
/gdk/win32/rc/Makefile.in
/gdk/x11/Makefile.in
/gtk+-3.0.pc
/gtk+-broadway-3.0.pc
/gtk+-quartz-3.0.pc
/gtk+-unix-print-3.0.pc
/gtk+-wayland-3.0.pc
/gtk+-win32-3.0.pc
/gtk+-x11-3.0.pc
/gtk-doc.make
/gtk-zip.sh
/gtk/Makefile.in
/gtk/a11y/Makefile.in
/gtk/native/Makefile.in
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libgail-util/Makefile.in
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4macros/Makefile.in
/modules/Makefile.in
/modules/engines/Makefile.in
/modules/engines/pixbuf/Makefile.in
/modules/input/Makefile.in
/modules/printbackends/Makefile.in
/modules/printbackends/cups/Makefile.in
/modules/printbackends/file/Makefile.in
/modules/printbackends/lpr/Makefile.in
/modules/printbackends/papi/Makefile.in
/modules/printbackends/test/Makefile.in
/omf.make
/po-properties/*.mo
/po-properties/.intltool-merge-cache
/po-properties/Makefile
/po-properties/Makefile.in
/po-properties/Makefile.in.in
/po-properties/POTFILES
/po-properties/af.gmo
/po-properties/am.gmo
/po-properties/an.gmo
/po-properties/ang.gmo
/po-properties/ar.gmo
/po-properties/as.gmo
/po-properties/ast.gmo
/po-properties/az.gmo
/po-properties/az_IR.gmo
/po-properties/be.gmo
/po-properties/be@latin.gmo
/po-properties/bg.gmo
/po-properties/bn.gmo
/po-properties/bn_IN.gmo
/po-properties/br.gmo
/po-properties/bs.gmo
/po-properties/ca.gmo
/po-properties/ca@valencia.gmo
/po-properties/crh.gmo
/po-properties/cs.gmo
/po-properties/cy.gmo
/po-properties/da.gmo
/po-properties/de.gmo
/po-properties/dz.gmo
/po-properties/el.gmo
/po-properties/en.gmo
/po-properties/en@shaw.gmo
/po-properties/en_CA.gmo
/po-properties/en_GB.gmo
/po-properties/eo.gmo
/po-properties/es.gmo
/po-properties/et.gmo
/po-properties/eu.gmo
/po-properties/fa.gmo
/po-properties/fi.gmo
/po-properties/fr.gmo
/po-properties/ga.gmo
/po-properties/gd.gmo
/po-properties/gl.gmo
/po-properties/gu.gmo
/po-properties/he.gmo
/po-properties/hi.gmo
/po-properties/hr.gmo
/po-properties/hu.gmo
/po-properties/hy.gmo
/po-properties/ia.gmo
/po-properties/id.gmo
/po-properties/io.gmo
/po-properties/is.gmo
/po-properties/it.gmo
/po-properties/ja.gmo
/po-properties/ka.gmo
/po-properties/kg.gmo
/po-properties/kk.gmo
/po-properties/km.gmo
/po-properties/kn.gmo
/po-properties/ko.gmo
/po-properties/ku.gmo
/po-properties/ky.gmo
/po-properties/lg.gmo
/po-properties/li.gmo
/po-properties/lt.gmo
/po-properties/lv.gmo
/po-properties/mai.gmo
/po-properties/mi.gmo
/po-properties/mk.gmo
/po-properties/ml.gmo
/po-properties/mn.gmo
/po-properties/mr.gmo
/po-properties/ms.gmo
/po-properties/my.gmo
/po-properties/nb.gmo
/po-properties/nds.gmo
/po-properties/ne.gmo
/po-properties/nl.gmo
/po-properties/nn.gmo
/po-properties/nso.gmo
/po-properties/oc.gmo
/po-properties/or.gmo
/po-properties/pa.gmo
/po-properties/pl.gmo
/po-properties/ps.gmo
/po-properties/pt.gmo
/po-properties/pt_BR.gmo
/po-properties/ro.gmo
/po-properties/ru.gmo
/po-properties/rw.gmo
/po-properties/si.gmo
/po-properties/sk.gmo
/po-properties/sl.gmo
/po-properties/sq.gmo
/po-properties/sr.gmo
/po-properties/sr@ije.gmo
/po-properties/sr@latin.gmo
/po-properties/stamp-it
/po-properties/sv.gmo
/po-properties/ta.gmo
/po-properties/te.gmo
/po-properties/tg.gmo
/po-properties/th.gmo
/po-properties/tk.gmo
/po-properties/tr.gmo
/po-properties/tt.gmo
/po-properties/ug.gmo
/po-properties/uk.gmo
/po-properties/ur.gmo
/po-properties/uz.gmo
/po-properties/uz@cyrillic.gmo
/po-properties/vi.gmo
/po-properties/wa.gmo
/po-properties/xh.gmo
/po-properties/yi.gmo
/po-properties/zh_CN.gmo
/po-properties/zh_HK.gmo
/po-properties/zh_TW.gmo
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/gtk30.pot
/po/stamp-it
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
/tests/visuals/Makefile.in
/testsuite/Makefile.in
/testsuite/a11y/Makefile.in
/testsuite/clutter/Makefile.in
/testsuite/css/Makefile.in
/testsuite/css/parser/Makefile.in
/testsuite/gdk/Makefile.in
/testsuite/gtk/Makefile.in
/testsuite/reftests/Makefile.in
/xmldocs.make
